<p>Children of Digital Age's purpose is to <b>form today’s children to be
  tomorrow’s programmers.</b></p>

<p>Since IT is an ever-growing field there is a lot of potential in knowing
programming from earlier ages. However, learning it can be a sterile attempt
frail with failures.  This is why our business plans to teach children how to
code using interactive approaches, making them learn by doing and having
fun.</p>

<p>See what's in for you as:</p>
<ul>
  <li><%= link_to "Parent", parents_url %></li>
  <li><%= link_to "Child", children_url %></li>
  <li><%= link_to "Instructor", instructors_url %></li>
</ul>

<p>See all <%= link_to "courses", :courses %>.</p>

<p>One testimonial related to our business:</p>

<% t = Testimonial.all.sample %>
<quote>
<%= t.text %>
</quote> by <%= t.author %> in <%= t.year %>

<p>See more <%= link_to "testimonials", :testimonials %>.</p>
