<% page_titling "Profiles page" %>

<p>
  <b>Firstname:</b>
  <%= @profile.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @profile.lastName %>
</p>

<p>
  <b>Roles:</b>
  <% @roles.each do |role| %>
    <%= role %>
  <% end %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @profile.age %>
</p>

<p>
  <b>Extra:</b>
  <%= @profile.extra %>
</p>

<p>
  <b>Email:</b>
  <%= @profile.email %>
</p>

<p>
  <% if @is_instructor %>
     <b>Courses:</b>
     <ul>
       <% @courses.each do |c| %>
         <li><%= link_to c.list_enrolled, c %></li>
       <% end %>
     </ul>
  <% end %>
</p>

<p>
  <% if @is_parent %>
     <b><%= pluralize(@children.count, "Child") %>:</b>
     <ul>
       <% @children.each do |c| %>
         <li><%= link_to c.profile.fullName, c.profile %></li>
         <em><%= pluralize(c.courses.count, "Course") %>:</em>
         <ul>
           <% c.courses.each do |crs| %>
             <li><%= link_to crs.name, crs %></li>
           <% end %>
         </ul>
       <% end %>
     </ul>
  <% end %>
</p>

<p>
  <% if @is_child %>
  <b><%= pluralize(@child_courses.count, "Course") %>:</b>
  <ul>
    <% @child_courses.each do |crs| %>
      <li><%= link_to crs.name, crs %></li>
    <% end %>
  </ul>
  <% end %>
</p>
