<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @profile.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @profile.lastName %>
</p>

<p>
  <b>Roles:</b>
  <% @roles.each do |role| %>
    <%= role %>
  <% end %>
</p>

<p>
  <b>Gender:</b>
  <%= @profile.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @profile.age %>
</p>

<p>
  <b>Extra:</b>
  <%= @profile.extra %>
</p>

<p>
  <b>Email:</b>
  <%= @profile.email %>
</p>

<p>
  <% if @is_instructor %>
     <b>Courses:</b>
     <ul>
       <% @courses.each do |c| %>
         <li><%= link_to c.list_enrolled, c %></li>
       <% end %>
     </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
