<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @description.course_id %>
</p>

<p>
  <b>Order:</b>
  <%= @description.order %>
</p>

<p>
  <b>Type:</b>
  <%= @description.type %>
</p>

<p>
  <b>Content:</b>
  <%= @description.content %>
</p>


<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
