<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @role.role %>
</p>

<p>
  <b>Active:</b>
  <%= @role.active %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
