<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Price:</b>
  <%= @course.price %>
</p>

<p>
  <b>Limit:</b>
  <%= @course.limit %>
</p>

<p>
  <b>Startdate:</b>
  <%= @course.startDate %>
</p>

<p>
  <b>Enddate:</b>
  <%= @course.endDate %>
</p>

<p>
  <b>Location:</b>
  <%= @course.location %>
</p>

<p>
  <b>Enrolled count:</b>
  <%= @course.enroled_count %>
</p>

<p>
  <b>Description:</b>
  <%= @descriptions %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
