<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
    <div id="sidebar">
      <ul id="sidebar-items">
        <li>
          <h3>Menu:</h3>
          <ul class="links">
            <li><%= link_to "For parents", parents_url %></li>
            <li><%= link_to "For children", children_url %></li>
            <li><%= link_to "For instructors", instructors_url %></li>
            <li><%= link_to "All courses", :courses %></li>
            <li><%= link_to "All testimonials", :testimonials %></li>
            <li>Blog</li>
          </ul>
        </li>
      </ul>
    </div>

    <div id="content">
      <div id="header">
        <h1><%= link_to page_short_title, root_path %></h1>
        <h2>Children of Digital Age :: Let's get the whole world coding!</h2>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>
    <div id="footer">&nbsp;</div>
  </div>
</body>
</html>
